<nav class="navbar navbar-expand-md navbar-light bg-info">
  <div class="container-fluid">
    <span class="navbar-brand">Pokemon Trainer</span>
    <div *ngIf="active">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="/catalogue" [routerLinkActive]="['active']"><b>Pokemon Catalogue</b></a>
          <a class="nav-link" routerLink="/trainer" [routerLinkActive]="['active']"><b>Trainer Page</b></a>
          <button
            class="btn btn-sm btn-dark"
            type="button"
            (click)="logout()"
          >
            Logout
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
