.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-body {
  margin-top: -25px;
  margin-bottom: -25px;
}

#id-tag {
  background-color: #f8f9fa;
  border: 1px solid silver;
  text-align: center;
  width: 35px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}
.collected-tag {
  position: absolute;
  z-index: 100;
  background-color: yellow;
  font-size: small;
  font-weight: 600;
  margin: -15px -10px;
  padding: 1px;
  border: 1px solid black;
  border-radius: 5px;
}
