<p class="collected-tag text-center m-3" *ngIf="isInCollection">COLLECTED!</p>
<div
  class="card m-2"
  style="width: 150px">

  <span id="id-tag">{{ pokemon.id }}</span>
  <img [src]="pokemon.avatar" class="card-img-top mt-3" [alt]="pokemon.name" />
  <div class="card-img-overlay"></div>
  <div class="card-body">
    <p class="card-title">
      {{ pokemon.name[0].toUpperCase() + pokemon.name.substring(1) }}
    </p>
  </div>
</div>
<div class="my-lg-auto m-2">
  <button class="btn btn-primary" (click)="onToggle(pokemon)" *ngIf="!isInCollection">
    Collect
  </button>
  <button class="btn btn-danger" (click)="onToggle(pokemon)" *ngIf="isInCollection">
    Remove</button>
</div>
