<app-container>
  <h1>{{ trainerName }}'s Pokemon Collection:</h1>
  <div
    class="row row-cols-2 row-cols-sm-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-6"
  >
    <app-pokemon-card-component
      *ngFor="let pok of pokemonCollection"
      [pokemon]="pok"
    ></app-pokemon-card-component>
  </div>
</app-container>
