.loginForm {
  min-width: 500px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}
@media (max-width: 500px) {
  .loginForm {
    min-width: 90%;
  }
}

#loginBtn {
    position: relative;
    top: 50%;
    left: 40%;
}
p {
  font-size: medium;
}