<app-container>
    <form #loginForm="ngForm" class="loginForm" (ngSubmit)= "onSubmit(loginForm)">
        <div class="mb-5">
            <h1>Welcome to Pokemon Trainer Game </h1>
        </div>
        <fieldset class="mb-2">
            <!-- <label for="username" class="form-label">Enter your username </label> -->
            <input type="text"
                ngModel
                #username= "ngModel"
                name="username" 
                id="username"
                class="form-control"
                required
                minlength="3"
                maxlength="20"
                placeholder="Enter your username">
        </fieldset>
        <section *ngIf="username.errors && (username.dirty || username.touched)">
            <div class="alert alert-danger">
                <p *ngIf="username.errors.required" class="d-flex align-items-center mb-0">
                    <span class="material-icons">warning</span>
                    Username can not be empty
                </p>
                <p *ngIf="username.errors.minlength" class="d-flex align-items-center mb-0">
                    <span class="material-icons">warning</span>
                    Username should contain minimum 4 charactes 
                </p>
            </div>
            
        </section>
        <button id="loginBtn"
            type="submit"
            [disabled]="attempting || loginForm.form.invalid"
            class="btn btn-secondary d-flex align-items-center mt-3">
            <span class="material-icons">lock</span>
            Login
        </button>
    </form>
    <p *ngIf="attempting">Trying to login...</p>
</app-container>