<app-container>
  <div
    class="row row-cols-2 row-cols-sm-3 row-cols-sm-3 row-cols-md-4 row-cols-lg-6"
  >
    <app-pokemon-card-component
      *ngFor="let poke of pokemon"
      [pokemon]="poke"
    ></app-pokemon-card-component>
  </div>
  <nav aria-label="Page navigation" class="mt-3">
    <button
      class="btn btn-outline-secondary"
      *ngIf="offset >= limitPerPage"
      (click)="previousPage()"
    >
      Previous
    </button>

    <button
      class="btn btn-success"
      *ngIf="offset < 251 - limitPerPage"
      (click)="nextPage()"
    >
      Next
    </button>
  </nav>
</app-container>
