/* You can add global styles to this file, and also import other style files */
html, body {
    font-family: 'Work Sans', 'sans-serif';
    background-color: antiquewhite;
}

h1, h2, h3, h4 {
    font-weight: 700;
}